{% extends "base.html" %}
{% block title %}Box Info{% endblock %}


{% block content %}
<h3>Which kind of Box information are you interested in ? </h3>
<form name="box_name" method="POST">
<div class="form-row align-items-center">
    <div class="col-auto my-1">
    <select class="custom-select" name="box_name">
        <option value="interest" {% if  selected_status  == "interest"%} selected {% endif %}>The relationship between time and return of investment of the movie </option>
        <option value="name"{% if  selected_status  == "name"%} selected {% endif %}>Movie name and return of investment of the movie </option>
        <option value="budget"{% if  selected_status  == "budget"%} selected {% endif %}>Budget</option>
        <option value="bt"{% if  selected_status  == "bt"%} selected {% endif %}>Budget v.s. Time</option>
        <option value="ut"{% if  selected_status  == "ut"%} selected {% endif %}>Us gross v.s. Time</option>
        <option value="wt"{% if  selected_status  == "wt"%} selected {% endif %}>Worldwide Gross v.s. Time</option>    
    </select>
    </div>
    <div class="col-auto my-1">
    <button class="btn btn-primary" type="submit">Select!</button>
    </div>
    </div>
</form>

{%if show == True%}

{%if type == "interest"%}
<h5> Please select a type of chart</h5>

<form name="chart_type" method="POST">
<div class="form-row align-items-center">
    <div class="col-auto my-1">
    <select class="custom-select" name="chart_type">
        <option value="bar" {% if  chart_status  == "bar"%} selected {% endif %}>Bar</option>
        <option value="scatter" {% if  chart_status  == "scatter"%} selected {% endif %}>Scatter</option>
    </select>
    </div>
    <div class="col-auto my-1">
    <button class="btn btn-primary" type="submit">Select!</button>
    </div>
    </div>
</form>

<div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>

{%elif type == "name" or type == "budget"%}
<h5> Please select a type of chart</h5>
<form name="chart_type" method="POST">
<div class="form-row align-items-center">
    <div class="col-auto my-1">
    <select class="custom-select" name="chart_type">
        <option value="bar" {% if  chart_status  == "bar"%} selected {% endif %}>Bar</option>
        {%if type == "budget"%}
        <option value="pie" {% if  chart_status  == "pie"%} selected {% endif %}>Pie</option>
        {%endif%}
    </select>
    </div>
    <div class="col-auto my-1">
    <button class="btn btn-primary" type="submit">Select!</button>
    </div>
    </div>
</form>

<div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>

{%elif type == "bt" or type =="ut" or type =="wt"%}
<h5> Please select a type of chart</h5>
<form name="chart_type" method="POST">
<div class="form-row align-items-center">
    <div class="col-auto my-1">
    <select class="custom-select" name="chart_type">
        <option value="bar" {% if  chart_status  == "bar"%} selected {% endif %}>Bar</option>
        <option value="pie" {% if  chart_status  == "pie"%} selected {% endif %}>Pie</option>
        <option value="scatter" {% if  chart_status  == "scatter"%} selected {% endif %}>Scatter</option>
    </select>
    </div>
    <div class="col-auto my-1">
    <button class="btn btn-primary" type="submit">Select!</button>
    </div>
    </div>
</form>

<div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>

{%endif%}

{%endif%}

{% endblock %}

