{% extends "base.html" %}
{% block title %}Rating{% endblock %}


{% block content %}
<h3>Which kind of Box information are you interested in ? </h3>
<form name="box_name" method="POST">
    <select name="box_name">
        <option value="interest">The relationship between time and return of investment of the movie </option>
        <option value="name">Movie name and return of investment of the movie </option>
        <option value="budget">Budget</option>
        <option value="bt">Budget v.s. Time</option>
        <option value="ut">Us gross v.s. Time</option>
        <option value="wt">Worldwide Gross v.s. Time</option>    
    </select>
    <button type="submit">Select!</button>
</form>

{%if show == True%}

{%if type == "interest"%}
<h4> Data: The relationship between time and return of investment of the movie </h4>
<h5> Please select a type of chart</h5>

<form name="chart_type" method="POST">
    <select name="chart_type">
        <option value="bar">Bar</option>
        <option value="scatter">Scatter</option>
    </select>
    <button type="submit">Select!</button>
</form>

<div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>

{%elif type == "name" or type == "budget"%}

{%if type == "name"%}
<h4>Data: Movie name and return of investment of the movie</h4>
{%elif type == "budget"%}
<h4>Data: Budget</h4>
{%endif%}
<h5> Please select a type of chart</h5>
<form name="chart_type" method="POST">
    <select name="chart_type">
        <option value="bar">Bar</option>
        <option value="pie">Pie</option>
    </select>
    <button type="submit">Select!</button>
</form>

<div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>

{%elif type == "bt" or type =="ut" or type =="wt"%}

{%if type == "bt"%}
<h4>Data: Budget v.s. Time</h4>
{%elif type == "ut"%}
<h4>Data: Us gross v.s. Time</h4>
{%else%}
<h4>Data: Worldwide Gross v.s. Time</h4>
{%endif%}
<h5> Please select a type of chart</h5>

<form name="chart_type" method="POST">
    <select name="chart_type">
        <option value="bar">Bar</option>
        <option value="pie">Pie</option>
        <option value="scatter">Scatter</option>
    </select>
    <button type="submit">Select!</button>
</form>

<div class="chart" id="bargraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('bargraph',graphs,{});
    </script>
</div>

{%endif%}

{%endif%}

{% endblock %}

