{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h2>Welcome to IMDb Database !</h2>
<br>
<h5>You can find the data of top 250 rating movies and some postprocessing data here :D</h5>
<br>
<a href="/movie" class="btn btn-info btn-lg btn-block" role="button" aria-pressed="true">Movie casts and crew</a>
<a href="/rating" class="btn btn-warning btn-lg btn-block" role="button" aria-pressed="true">Movie Rating</a>
<a href="/box" class="btn btn-dark btn-lg btn-block" role="button" aria-pressed="true">Box information</a>


{% endblock %}