{% extends "base.html" %}
{% block title %}Movie Casts{% endblock %}


{% block content %}
<h3>Which movie are you interested in ? </h3>
<form name="movie_name" method="POST">
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
    <select class="custom-select" name="movie_name">
    {% for nm in name %}
        <option value="{{nm}}" {% if nm == selected_status %} selected {% endif %}>{{nm}}</option>
    {% endfor%}       
    </select>
    </div>
    <div class="col-auto my-1">
    <button class="btn btn-primary" type="submit">Select!</button>
    </div>
    </div>
</form>

{%if table == True%}
<table class="table table-striped">
<thead class="thead-dark">  
  <tr>
    <th>Director</th>
    <th>Writer</th>
    <th>Casts</th>
  </tr>
</thead>
 <tbody>
{% for e in element %} 
<tr>
<td> 
<p>{{e.d}}</p>
</td>
<td> 
<p>{{e.w}}</p>
</td>
<td> 
<p>{{e.c}}</p>
</td>
</tr>
{% endfor%}
 </tbody>
</table>



{%endif%}

{% endblock %}